footer {
    background-color: #000;
    color: #fff;
    height: 380px;
}

.footer-container {
    padding: 90px 160px;
    display: flex;
    justify-content: space-between;
}

.footer-logo p {
    font-size: 14px;
    font-weight: 500;
    width: 384px;
}

.footer-links {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    font-size: 24px;
}

.footer-links a{
    cursor: pointer;
    color: #fff;
}

.footer-services h3{
    font-size: 16px;
    font-weight: 600;
}

.footer-services p{
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    color: #CFCFCF;
}